.img-ionic  {
  background: url('./ionic.png') no-repeat center;
  background-size: 25vh;
  background-color: #0841a0;
  height: 20vh;
  width: 100vw;
}
.content-scrollable {
  height: 100vh;
  overflow-y: auto;
}
.content-fixed {
  top: 20px;
  right: 20px;
  position: absolute;
}
.content-fixed a {
  color: #2fa4e7;
  background: transparent;
}
.my-list .my-list-item {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.about {
  padding: 10px 0;
}
.about .img {
  background: url('./yousha.jpg') no-repeat center;
  background-size: 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}